*{
box-sizing: border-box; 
}

body {
margin: 0;
background-image: url(galaksi.jpg);
background-size: cover;
background-position: center;
}

.header{
width: 1264px;
position: relative;
margin: 0;
background-size: auto;
}

.topnav {
position: relative; 
overflow: hidden;
background-color:#001845;
border: 5px solid	black;
width: 100%;
}

.topnav a {
float: left;
display: block;
color: #caf0f8;
text-align: center;
font-family:cursive;
padding: 10px 16px;
text-decoration: none;
}

.topnav a:hover {
background-color: #03045e;
color: #caf0f8;
}

.Beranda{
background-color: 	#001233;
}

.column {
float: left;
padding: 0px;
}

.column.side {
width: 25%;
}

.column.middle {
width: 50%;
color: #eaf4f4;
}

.row::after {
content: "";
display: table;
clear: both;
}

.footer {
background-color: #001845;
padding: 3px;
text-align: center;
border: black 3px solid;
}

.foot{
    color: #eaf4f4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.Moonlight{
    height: 200px;
    width: 170px;
    margin: 0px 0px;
}

.PepperMint{
    position: fixed;
    height: 350px;
    width: 300px;
}

.Selamat{
    font-size: 30px;
}
li{
    float: left;
    width: 250px;
}

li a, .dropbtn{
    display: inline-block;
    color: #caf0f8;
    text-align: center;
    font-family: cursive;
    text-decoration: none;
    padding: 12px 16px;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: #001233;
}

li.dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: chartreuse;
    min-width: 160px;
    box-shadow: 0px 8px 16px #caf0f8;
    z-index: 1;
}

.dropdown-content a{
    color: #faf9f9;
    background-color: #001845;
    text-decoration: none;
    padding: 12px 16px;
    text-align: left;
    width: 100%;
    display: block;
    top: 100%;
   
}

.dropdown-content a:hover{
    background-color: #00b4d8; 
}

.dropdown:hover .dropdown-content{
    display: block;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #001845;
border: 3px solid	#0d1b2a;
}